<div id="footer">
    <div id="footer-detail-container">
        <div id="footer-name-container">
            <a href="/" class="link">
                <p id="footer-name" class="link footer-text"> Center for Computational Imaging and Visual Innovations </p>
            </a>
            <a href="https://www.dlsu.edu.ph/research/research-centers/adric/" target="_blank" class="link">
                <p class="link footer-text"> Advanced Research Institute for Informatics, Computing and Networking </p>
            </a>
            <a href="https://www.dlsu.edu.ph/colleges/ccs/" target="_blank" class="link">
                <p class="link footer-text"> College of Computer Studies </p>
            </a>
            <a href="https://www.dlsu.edu.ph/" target="_blank" class="link">
                <p class="link footer-text"> De La Salle University </p>
            </a>
        </div>
    </div>
    <!-- <div id="footer-link-container">
        <div class="footer-link" id="footer-email">
            <i class="las la-envelope-open footer-text" id="footer-email-icon"></i>
            <a href="mailto:dlsu.civi@gmail.com" class="link footer-text" id="footer-email-text"> Email </a>
        </div>
        <div class="footer-link" id="footer-git">
            <i class="lab la-github footer-text" id="footer-git-icon"></i>
            <a href="https://github.com/dlsucivi/" class="link footer-text" id="footer-git-text" target="_blank"> GitHub </a>
        </div>
        <div class="footer-link" id="footer-fb">
            <i class="lni lni-facebook-original" id="footer-fb-icon"></i>
            <a href="https://www.facebook.com/dlsucivi/" class="link footer-text" id="footer-fb-text" target="_blank"> Facebook </a>
        </div>
        <div class="footer-link" id="footer-tw">
            <i class="lab la-twitter footer-text" id="footer-tw-icon"></i>
            <a href="https://twitter.com/dlsucivi" class="link footer-text" id="footer-tw-text" target="_blank"> Twitter </a>
        </div>
        <div class="footer-link" id="footer-yt">
            <i class="lni lni-youtube footer-text" id="footer-yt-icon"></i>
            <a href="https://www.youtube.com/@dlsucivi" class="link footer-text" id="footer-yt-text" target="_blank"> YouTube </a>
        </div>
    </div> -->

    <div id="footer-link-container">
        <div class="footer-link" id="footer-email">
            <i class="lni lni-envelope footer-text" id="footer-email-icon"></i>
            <a href="mailto:dlsu.civi@gmail.com" class="link footer-text" id="footer-email-text"> Email </a>
        </div>
        <div class="footer-link" id="footer-git">
            <i class="lni lni-github-original footer-text" id="footer-git-icon"></i>
            <a href="https://github.com/dlsucivi/" class="link footer-text" id="footer-git-text" target="_blank"> GitHub </a>
        </div>
        <div class="footer-link" id="footer-fb">
            <i class="lni lni-facebook-original footer-text" id="footer-fb-icon"></i>
            <a href="https://www.facebook.com/dlsucivi/" class="link footer-text" id="footer-fb-text" target="_blank"> Facebook </a>
        </div>
        <div class="footer-link" id="footer-tw">
            <i class="lni lni-twitter-original footer-text" id="footer-tw-icon"></i>
            <a href="https://twitter.com/dlsucivi" class="link footer-text" id="footer-tw-text" target="_blank"> Twitter </a>
        </div>
        <div class="footer-link" id="footer-yt">
            <i class="lni lni-youtube footer-text" id="footer-yt-icon"></i>
            <a href="https://www.youtube.com/@dlsucivi" class="link footer-text" id="footer-yt-text" target="_blank"> YouTube </a>
        </div>
    </div>
</div>
