<div id="header">
    <h1 id="title">
        <img src="/public/images/CIVI_logo.png" id="header-logo">
        <a href="/" id="title-name">
            <div id="title-name-small"> CENTER FOR </div>
            <div class="title-name-big"> COMPUTATIONAL IMAGING & </div>
            <div class="title-name-big"> VISUAL INNOVATIONS </div>
        </a>
        <!-- <span id="title-research"> Computer Vision</span> -->
    </h1>
    <nav id="nav-bar">
        <a class="link nav-item" id="header-papers" href="/papers"> PAPERS </a>
        <a class="link nav-item" id="header-people" href="/people"> PEOPLE </a>
    </nav>

    <div id="nav-bar-drop" class="dropdown">
        <button id="nav-bar-drop-button" class="dropdown-button"><i class="fas fa-bars"></i></button>
        <div class="dropdown-content right">
            <a class="link nav-item" id="header-home" href="/"> Home </a>
            <a class="link nav-item" id="header-papers" href="/publications"> Papers </a>
            <a class="link nav-item" id="header-people" href="/cv"> People </a>
        </div>
    </div>
</div>
